$white:         rgb(255,255,255);       // Background, navigation font
$black:         rgb(0,0,0);             // Headers font
$grey:          rgb(153,153,153);       // Bullets, form
$greyLight:     rgb(238, 238, 238);     // Tooltips

$brown:         rgb(41, 34, 29);        // Navigation, body font
$blueDark:      rgb(26, 59, 95);        // Expertise
$blueMedium:    rgb(58, 97, 133);       // Expertise canvas
$blueLight:     rgb(181, 219, 233);     // Portfolio
$orange:        rgb(217, 81, 59);       // Accent color

$shadow:        rgba(48,40,44,.8);      // Text and navigation shadow
