/* Mobile-First -- Default is 480px */

@import "reset";
@import "mixins";
@import "colors";
@import "fonts";
@import "grid";
@import "tooltips";

/* IMAGES */
img, canvas {
	border : 0;
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

canvas {
	border: 1px dotted;
}

/* LINKS */
a {
	color: $orange;
    @include transition(color 0.5s ease);
	text-decoration: none;
	&:hover {
		color: darken($orange, 20%);
	}
	&:focus {
		outline: thin dotted;
	}
	a:hover, a:active {
		outline: 0;
	}
}

/* BLOCKQUOTES */
blockquote {
	position: relative;
	width: 85%;
	margin: 0 auto;
	font-size: 1.5em;
	font-weight: 300;
	line-height: 1.5em;
	text-align: center;
    z-index: 0;
	&:before {
		display: block;
		position: absolute;
		top: -0.25em;
		left: -.35em;
		content: "\201C";
		font: 3.25em Georgia, serif;
		color: $orange;
        z-index: 100;
	}
	& cite {
		display: block;
		margin-top: 1em;
		color: $orange;
		&:before {
			color: $orange;
			content: "\2013 \2009";
		}
	}
}

/* MAIN LAYOUT */
#masthead {
    background: $brown url(../img/header-small.png) no-repeat 50% 0;
	background-size: cover;
	height: 22.5em;
	position: relative;
    cite {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 5px 10px;
        @include inset-text-effect($orange, $shadow);
    }
}

#navigation {
	background: $brown;
	padding: 0;
    &.is-fixed {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        @include box-shadow(0, 10px, 20px, $shadow);
    }
    h1 {
        margin-right: 1em;
    }
	nav {
		float: left;
        width: auto;
        margin: 0.5em 0;
		li {
			display: inline;
			font-size: 1.125em;
			line-height: 2.5em;
			margin-right: 0.5em;
			a {
				padding: 0.5em;
				color: #fff;
				text-decoration: none;
                @include border-radius(50px);
                @include transition(background-color);
				&:active {
					background: rgba($orange, 0.25);
				}
				&.current {
					background: $orange;
				}
			}
		}
        &:first-child a {
            padding-left: 0;
        }
	}
    .container {
        margin: 0;
        padding: 1em 1.5em;
    }
}

#welcome {
    background: $white;
    &.is-fixed {
        margin-top: 6.5em;
    }
	p {
		text-align: left;
	}
    img {
        display: block;
        float: none;
        width: 60%;
        height: auto;
        margin: 0 auto 2em;
        border: 4px solid #40363a;
        @include border-radius(50%);
    }
}

#expertise {
	background: $blueDark;
	p {
		text-align: center;
        color: $grey;
	}
	canvas {
		border: none;
	}
    .col {
        width: 200px;
        margin: 0 2em 6em;
    }
}


/* Expertise tooltips -- desktop and mobile */

html.touch #expertise div[data-tooltip]  {
    @include tooltip(se, $greyLight);
    &::before, &::after {
        opacity: 1;
        display: block;
    }
    &::before {
        margin-left: -62%;
    }
}

html.no-touch #expertise div[data-tooltip] {
    &.ne {
        @include tooltip(ne, $greyLight);
    }
    &.nw {
        @include tooltip(nw, $greyLight);
    }
    &.se {
        @include tooltip(se, $greyLight);
    }
    &.sw {
        @include tooltip(sw, $greyLight);
    }
}

#testimonials {
    background: url(../img/testimonials.png);
    .carousel {
        position: relative;
        overflow: auto;
        padding-bottom: 2em;
        li {
            list-style: none;
        }
        ul li {
            float: left;
            padding-top: 5px;
        }
    }
}

#portfolio {
	background: $blueLight;
	img {
        @include border-radius(50%);
	}
	.hover {
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		height: 0;
		opacity: 0;
		background: $orange;
        @include border-radius(50%);
		z-index: 10;
	}
    .col {
        width: 80%;
    }
	.col:hover .hover {
		height: 100%;
		opacity: 1;
	}
	.hoverInner {
		position: relative;
		height: 0;
		opacity: 0;
		text-align: center;
	}
	.col:hover .hoverInner {
		height: 100%;
		opacity: 1;
        @include transition(all 1000ms ease-in-out 0s);
		top: 20%;
	}
	.cta {
		cursor: pointer;
		background: $brown;
        @include border-radius(10px);
		font-size: 14px;
		line-height: 34px;
		color: white;
		width: 85px;
		margin: 0 auto;
		a {
			color: $white;
		}
	}
	.box-content {
		display: none;
	}
}

#expertise, #portfolio {
    & .col {
        cursor: help;
        text-align: center;
    }
}

#contact {
	background: $brown;
	h2, p {
		color: $white;
	}
	.col {
		width: 100%;
		margin: 0 auto;
		a {
			color: $white;
		}
	}
	.textfield, .textarea {
		padding: 0 0 20px;
	}
	#resultMessage p {
		color: $orange;
		margin-left: 10px;
		font-size: 1em;
	}
	#contactForm label {
		font-size: 1.5em;
		cursor: pointer;
		display: block;
	}
	textarea, input {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
		min-height: 40px;
		width: 100%;
		padding: 4px 6px;
		background: $white;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
		border: 1px solid $grey;
        @include border-radius(4px);
		outline: none;
		&:focus {
			box-shadow: none;
			border: 1px solid $orange;
		}
	}
	textarea {
		height: 10em;
	}
	input {
		margin: 0 0 10px;
		height: 40px;
	}
	#submit {
		cursor: pointer;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%;
		background: $orange;
		border-width: 1px;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        @include border-radius(4px);
		height: 40px;
        @include transition(background-color 0.5s ease);
		&:hover {
			background: lighten($orange, 5%);
		}
	}
}

#footer {
	#copyright {
        text-align: left;
		font-size: 1.25em;
		line-height: 2.5em;
	}
    .credit {
        font-size: .6em;
    }
	#social {
		float: right;
		li {
			float: left;
			a {
				display: block;
				height: 60px;
				width: 60px;
				background: url(../img/sprite.png) 0 0 no-repeat;
				text-indent: -9999px;
                @include transition(background-position 0.5s ease);
				&:hover {
					background-position-y: -60px;
				}
			}
		}
		.behance {
			background-color: #0686f1;
			background-position: 0 0;
		}
		.dribbble {
			background-color: #d8457d;
			background-position: -60px 0;
		}
		.facebook {
			background-color: #07549f;
			background-position: -120px 0;
		}
		.github {
			background-color: #bbbbbb;
			background-position: -180px 0;
		}
		.googleplus {
			background-color: #272727;
			background-position: -240px 0;
		}
		.linkedin {
			background-color: #017eb4;
			background-position: -300px 0;
		}
		.twitter {
			background-color: #29a9e1;
			background-position: -360px 0;
		}
	}
}

/* Responsive - Extra Small */
@media (min-width: 320px) {
    #masthead {
        background-image: url(../img/header-xsmall.png);
    }
}

/* Responsive - Small (Default) */
@media (min-width: 480px) {  }

/* Responsive - Medium */
@media only screen and (min-width: 768px) {
    #masthead {
        background-image: url(../img/header-medium.png);
    }
    #navigation nav li {
        line-height: 3.5em;
    }
    #welcome {
        &.is-fixed {
            margin-top: 2em;
        }
        img {
            float: left;
            width: 15em;
            height: 15em;
            margin: 0 2em 1em 0;
            border: 4px solid #40363a;
            @include border-radius(50%);
        }
    }
    #portfolio {
        .col {
            width: 45%;
            margin: 1em;
        }
    }
}

/* Responsive - Large */
@media only screen and (min-width: 960px) {
    #masthead {
        background-image: url(../img/header-large.png);
    }
    #portfolio .col {
        width: 29%;
    }
}

/* Responsive - Extra Large */
@media only screen and (min-width: 1280px) {
    #masthead {
        background-image: url(../img/header-xlarge.png);
    }
    #expertise .col {
        margin: 0 3em 6em;
    }
}

/* Colorbox alterations */
#cboxTitle {
    margin-bottom: 30px !important;
}
